<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl font-bold my-5 text-center">Acerca de nosotros</h2>
    <p class="text-zinc-300">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero laborum deleniti, incidunt reiciendis, beatae corporis, aspernatur fugit impedit ad labore error porro magni facere voluptas quod necessitatibus harum aliquid nesciunt id cupiditate voluptates nobis. Maiores libero voluptates facilis doloremque atque.
    </p>
</section>