<section class="flex flex-col items-center justify-between gap-4 py-20 md:flex-row md:p-20">
    <div class="flex-1 grid grid-cols-2 grid-flow-row gap-2">
        <div class="text-center">
            <img src="favicon.svg" alt="" class="m-auto w-20">
            <p class="mt-4">Caracteristica destacada</p>
        </div>
        <div class="text-center">
            <img src="favicon.svg" alt="" class="m-auto w-20">
            <p class="mt-4">Caracteristica destacada</p>
        </div>
        <div class="text-center">
            <img src="favicon.svg" alt="" class="m-auto w-20">
            <p class="mt-4">Caracteristica destacada</p>
        </div>
        <div class="text-center">
            <img src="favicon.svg" alt="" class="m-auto w-20">
            <p class="mt-4">Caracteristica destacada</p>
        </div>
    </div>
    <div class="flex flex-col gap-2 flex-1 text-center p-2">
        <h2 class="text-5xl font-bold">Lorem ipsum dolor sit.</h2>
        <p class="text-2xl">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem laboriosam magnam ex voluptates. Ipsam, laborum libero.</p>
    </div>
</section>