<footer class="bg-zinc-900 flex justify-evenly py-10 flex-col text-center gap-4 md:flex-row md:text-left">
  <div class="footer-col">
    <h4 class="font-bold">Sitio</h4>
    <a href="/home">Inicio</a>
    <a href="/about">Acerca de</a>
    <a href="/pricing">Precios</a>
  </div>
  <div class="footer-col">
    <h4 class="font-bold">Ubicación</h4>
    485 Essex Court<br />
    South Burlington<br />
    Mobile No: 802-505-1847
  </div>
  <div class="footer-col">
    <h4 class="font-bold">Siguenos</h4>
    <a href="/">Facebook</a>
    <a href="/">Twitter</a>
    <a href="/">Instagram</a>
    <a href="/">Reddit</a>
  </div>
</footer>